[submodule "conda-environment"]
	path = conda-environment
	url = https://github.com/sandiegodata/conda-environment.git
[submodule "datasets/sdcta.org-hl_contracts"]
	path = datasets/sdcta.org-hl_contracts
	url = https://github.com/metatab-packages/sdcta.org-hl_contracts.git
